.resume-page,
a.resume.nav-link.active {
  background-color: rgb(70, 91, 149);
}
.resume-page {
  padding: 0em;
}
.outer-resume-box {
  border: 1em solid rgb(248, 191, 121);
  border-radius: 2em;
  background-color: rgb(243, 243, 225);
}
.resume-box {
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em 1em 0.5em 0em;
}
